:root {
    /*main colors*/
    --font-color: #000;
    --back-color: #ecf0f1;
    --back-dark-color: #ddd;
    /*buttons*/
    --default-color: #3498db;
    --default-color-active: #2980b9;
    --warning-color: #e74c3c;
    --warning-color-active: #c0392b;
    /*sizes*/
    --page-max-width: 1024px;
    --offset: 20px;
    --radius: 5px;
    --base-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--font-color);
    background: var(--back-color);
}

.page {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 60px var(--offset);
}

.page__heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.page__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: var(--offset);
}

.oncogene {
    width: 49%;
    flex: 0 0 auto;
    padding: var(--offset);
    border-radius: var(--radius);
    background: var(--back-dark-color);
}

.result {
    width: 49%;
    flex: 0 0 auto;
    padding: var(--offset);
    overflow: auto;
    background: var(--back-dark-color);
}

.oncogene__hint {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 16px;
}

.oncogene__progress {
    margin: var(--offset) 0 0;
    text-align: center;
}

.oncogene-variants {
    
}

.oncogene-variants__item {
    background-color: #eee;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.oncogene-variants__item + .oncogene-variants__item {
    margin-top: var(--offset);
}

.oncogene-variants__item input[type="text"] {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: var(--radius);
    box-shadow: none;
    border: none;
}

.oncogene-variants__hint {
    font-size: 14px;
    font-weight: bold;
}

.oncogene-variants__code {
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    white-space: pre;
}

.config {
    font-family: monospace;
    white-space: pre;
}

.ui {
    padding: var(--offset) 0 0;
}

.ui__buttons-list {
    list-style: none;
}

.ui__buttons-item {
    display: inline-block;
    padding-right: var(--offset);
}

.button {
    display: inline-block;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    border-radius: var(--radius);
    transition: .2s ease;
}

.button--warning {
    background: var(--warning-color);
}

.button--warning:hover {
    background: var(--warning-color-active);
}

.button--default {
    background: var(--default-color);
}

.button--default:hover {
    background: var(--default-color-active);
}

.footer {
    text-align: center;
    margin-top: auto;
    background: var(--back-dark-color);
}

.footer__link {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
    background: #aaa;
    padding: 0 20px;
}