:root {
    /* main colors */
    --font-color: #000;
    --back-color: #fff;
    --back-dark-color: #ecf0f1;
    --back-dark-color-active: #dadcdc;
    --dark-border: #ccc;
    --dark-border-active: #999;
    --link-color: #dc143c;
    --link-color-active: #32cd32;
    /* ui colors */
    --default-color: #3498db;
    --default-color-active: #2980b9;
    --warning-color: #e74c3c;
    --warning-color-active: #c0392b;
    --notify-background: #34495e;
    /* sizes */
    --page-max-width: 1024px;
    --offset: 20px;
    --radius: 3px;
    --base-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--font-color);
    background: var(--back-color);
}

.content {
    line-height: 1.4;
}

.content a {
    color: var(--link-color);
    text-decoration: none;
}

.content a:hover {
    color: var(--link-color-active);
}

.content p {
    margin-bottom: 8px;
}

.content mark {
    background: var(--back-dark-color);
    font-family: monospace;
}

.page {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 20px var(--offset);
}

.page__heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.page__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: var(--offset);
}

.generator {
    width: 50%;
    flex: 1 1 auto;
    margin-right: var(--offset);
    border-radius: var(--radius);
}

.generator__hint {
    display: block;
    margin: 0 0 20px;
    font-size: 20px;
}

.result__wrapper {
    width: 50%;
    flex: 1 1 auto;
}

.result {
    position: relative;
    padding: var(--offset);
    overflow: auto;
    border: 1px solid var(--dark-border);
    border-radius: var(--radius);
    box-shadow: inset 0 5px 25px 1px rgba(30, 0, 0, .2);
}

.block-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.oncogene__progress {
    margin: var(--offset) 0 0;
    text-align: center;
}

.oncogene-variants__item {
    background-color: var(--back-dark-color);
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--dark-border);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .15);
}

.oncogene-variants__item:hover,
.oncogene-variants__item:active {
    border-color: var(--dark-border-active);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .05);
}

.oncogene-variants__item:active {
    background: var(--back-dark-color-active);
}

.oncogene-variants__item + .oncogene-variants__item {
    margin-top: var(--offset);
}

.oncogene-variants__hint {
    font-size: 16px;
}

.oncogene-variants__code {
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    white-space: pre;
    border-radius: var(--radius);
}

.config {
    font-family: monospace;
    white-space: pre;
}

.ui {
    padding: var(--offset) 0 0;
}

.ui__buttons-list {
    list-style: none;
}

.ui__buttons-item {
    display: inline-block;
    padding-right: var(--offset);
}

.button {
    display: inline-block;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    border-radius: var(--radius);
    transition: .2s ease;
}

.button--warning {
    background: var(--warning-color);
}

.button--warning:hover {
    background: var(--warning-color-active);
}

.button--default {
    background: var(--default-color);
}

.button--default:hover {
    background: var(--default-color-active);
}

.button--copy {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: #fff;
    background: #000;
}

.button--copy:focus {
    outline: none;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: var(--offset);
}

.footer img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.popup__wrapper {
    position: fixed;
    will-change: tranform;
    transform: translateZ(0);
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity .2s ease;
}

.popup__wrapper.hidden {
    opacity: 0;
}

.popup__window {
    margin: auto;
    padding: 14px 22px;
    font-size: 21px;
    border-radius: 7px;
    color: #fff;
    background: var(--notify-background);
    box-shadow: 0 4px 27px var(--notify-background);
}
