:root {
    /*main colors*/
    --font-color: #000;
    --back-color: #fff;
    --back-dark-color: #ecf0f1;
    --dark-border: #ccc;
    --dark-border-active: #999;
    --link-color: #dc143c;
    --link-color-active: #32cd32;
    /*buttons*/
    --default-color: #3498db;
    --default-color-active: #2980b9;
    --warning-color: #e74c3c;
    --warning-color-active: #c0392b;
    /*sizes*/
    --page-max-width: 1024px;
    --offset: 20px;
    --radius: 3px;
    --base-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--font-color);
    background: var(--back-color);
}

.content {
    line-height: 1.4;
}

.content a {
    color: var(--link-color);
    text-decoration: none;
}

.content a:hover {
    color: var(--link-color-active);
}

.page {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 20px var(--offset);
}

.page__heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.page__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: var(--offset);
}

.generator {
    width: 50%;
    flex: 1 1 auto;
    margin-right: var(--offset);
    border-radius: var(--radius);
}

.generator__hint {
    display: block;
    margin: 0 0 20px;
    font-size: 20px;
}

.result__wrapper {
    width: 50%;
    flex: 1 1 auto;
}

.result {
    padding: var(--offset);
    overflow: auto;
    background: var(--back-dark-color);
    border-radius: var(--radius);
}

.block-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.oncogene__progress {
    margin: var(--offset) 0 0;
    text-align: center;
}

.oncogene-variants__item {
    background-color: var(--back-dark-color);
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--dark-border);
    transition: .2s ease;
}

.oncogene-variants__item:hover {
    border-color: var(--dark-border-active);
}

.oncogene-variants__item + .oncogene-variants__item {
    margin-top: var(--offset);
}

.oncogene-variants__item input[type="text"] {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: var(--radius);
    box-shadow: none;
    border: none;
}

.oncogene-variants__hint {
    font-size: 16px;
}

.oncogene-variants__code {
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    white-space: pre;
    border-radius: var(--radius);
}

.config {
    font-family: monospace;
    white-space: pre;
}

.ui {
    padding: var(--offset) 0 0;
}

.ui__buttons-list {
    list-style: none;
}

.ui__buttons-item {
    display: inline-block;
    padding-right: var(--offset);
}

.button {
    display: inline-block;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    border-radius: var(--radius);
    transition: .2s ease;
}

.button--warning {
    background: var(--warning-color);
}

.button--warning:hover {
    background: var(--warning-color-active);
}

.button--default {
    background: var(--default-color);
}

.button--default:hover {
    background: var(--default-color-active);
}

.footer {
    text-align: center;
    margin-top: auto;
    background: var(--back-dark-color);
}

.footer__link {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
    background: #aaa;
    padding: 0 20px;
}
